.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3em;
  margin: 0 1rem;
}

form {
  width: 40%;
  margin: 1rem auto;
  text-align: left;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

.output-box {
  margin: 1rem auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.arm {
  height: 150px;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palm {
  height: 200px;
  width: 150px;
  background-color: bisque;
  border-radius: 25px;
}

.fingers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.finger {
  height: 50px;
  width: 110px;
  background-color: bisque;
  border-radius: 20px;
}

.finger:first-child::before {
  display: block;
  content: "";
  position: relative;
  left: -140px;
  top: -75px;
  height: 60px;
  width: 100px;
  background-color: bisque;
  border-radius: 20px;
  transform: rotate(90deg);
}

.output-text {
  font-size: 4em;
  margin: 0;
}

/* at media screen size 780px rotate output-box 90deg */
@media screen and (max-width: 780px) {
  .output-box {
    flex-direction: column;
    gap: 0;
  }
  .output-text {
    font-size: 2em;
  }
  .palm,
  .fingers {
    display: none;
  }
}
