@font-face {
  font-family: "Ma Shan Zheng", cursive;
  src: url("/src/fonts/MaShanZheng-Regular.ttf");
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.logo-box {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3em;
  margin: 0 1rem;
}

form {
  max-width: 400px;
  margin: 1rem auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

.submit-button {
  background-color: #282c34;
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.output-box {
  margin: 1rem auto;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arm {
  height: 100px;
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.palm {
  height: 120px;
  width: 110px;
  background-color: bisque;
  border-radius: 10px 25px 25px 10px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.fingers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finger {
  height: 25px;
  width: 60px;
  background-color: bisque;
  border-radius: 20px;
  margin-left: -50px;
  box-shadow: inset 10px 0 10px 0 rgba(0, 0, 0, 0.5);
}

.thumb {
  position: absolute;
  left: -40px;
  top: 0px;
  height: 30px;
  width: 60px;
  background-color: bisque;
  border-radius: 20px;
  transform: rotate(90deg);
  box-shadow: inset 15px -10px 10px -10px rgba(0, 0, 0, 0.5);
}

.thumb.up {
  top: -40px;
}

.output-text {
  font-family: "Ma Shan Zheng";
  font-size: 4em;
  margin: 0;
}

/* media screen at size below 400px */
@media screen and (max-width: 400px) {
  .output-box {
    transform: rotate(-90deg);
    margin: 100px 0 0 0;
    height: 200px;
    text-orientation: upright;
  }
  .output-text {
    transform: rotate(90deg);
    height: fit-content;
    width: 100px;
  }
  form {
    width: 90vw;
    margin: 0 auto;
  }
}
